<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISBNSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ISBNSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/isbn.asmx" binding="basicHttpBinding"
                bindingConfiguration="ISBNSoap" contract="WSISBN.ISBNSoap"
                name="ISBNSoap" />
            <endpoint address="http://www.webservicex.net/isbn.asmx" binding="customBinding"
                bindingConfiguration="ISBNSoap12" contract="WSISBN.ISBNSoap"
                name="ISBNSoap12" />
        </client>
    </system.serviceModel>
</configuration>