<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculatrice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISBNSoap" />
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ISBNSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/isbn.asmx" binding="basicHttpBinding"
                bindingConfiguration="ISBNSoap" contract="WSMedia.ISBNSoap"
                name="ISBNSoap" />
            <endpoint address="http://www.webservicex.net/isbn.asmx" binding="customBinding"
                bindingConfiguration="ISBNSoap12" contract="WSMedia.ISBNSoap"
                name="ISBNSoap12" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="WSCalculatrice.CalculatorSoap" name="CalculatorSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Calculatrice.Properties.Settings>
            <setting name="bEnProd" serializeAs="String">
                <value>True</value>
            </setting>
        </Calculatrice.Properties.Settings>
    </applicationSettings>
</configuration>